.content-wrapper {
	padding-top: 130px;
	/*background-color: red;*/
}

@media screen and (max-width : 992px) {
	.content-wrapper {
		padding-top: 170px;
	}
}

  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400&family=Manrope&display=swap');
    body{
        font-family: 'Bricolage Grotesque', sans-serif;
        font-family: 'Manrope', sans-serif;
    }
/* .carttable table{
    width: 100%;  
    text-align: center;
    border: 1px solid grey;
}
.carttable table tr th{
    border: 1px solid grey;
}
.carttable table tr td{
    border: 1px solid grey;
} */

#cart-update-btn{
    float: right;
}

.qty-input{
    border: none;
    background-color: rgb(240, 240, 240);
    width: 100px;
    padding: 7px 7px;
    border-radius: 5px;
}

#total-amount{
    font-weight: bold;
}

